<% if challenge.should_be_ranked(current_user) %>
        <li><%= "You are in #{challenge.user_rank(current_user)} place with #{challenge.rank_points(current_user)} points" %></li>
    <% else %>
        <% if challenge.participating(current_user) %> 
            <li><%= link_to "Join this challenge!", new_challenge_challenge_goal_path(challenge.id), method: "get" %></li>
        <% end %>
    <% end %>