<h1>All Challenges</h1>

<ul>
  <% @challenges.each do |challenge| %>
    <li><%= link_to "#{challenge.name} #{"*Owner*" if challenge.challenge_owner == @user}", challenge_path(challenge) %></li>
    <li>Description<br>
        - <%= "#{challenge.description}" %></li>
    <li><%= link_to "Join this challenge!", new_challenge_challenge_goal_path(challenge.id), method: "get" %>
    <br>
    <br>
  <% end %>
  <%= link_to "Create a new challenge!", new_challenge_path, method: "get" %>
  </ul>
<br>